ignore-scrips=true
//comando àra ignporar scripts durante a instalação de pacotes no npm. Isso pode ser útil para evitar a execução de scripts maliciosos ou indesejados que podem estar incluídos em pacotes de terceiros.
